.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-image: url(/src/1.svg);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;

}

.group{
  display: flex;
  /* border: 1px solid black; */
  width: 40rem;
  justify-content: space-between;
}

.container {
  display: flex;
  
  position: relative;
  justify-content: flex-end;
  width: 24rem;
  height: 40px;
}

.container p {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.item {
  /* border:1px solid black; */
  position: absolute;

}

.invitegroup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #0478ff;
}

.invitegroup img{
  height: 1.5rem;
  /* change color to blue */
  
}

.invitegroup p{
  font: bold .9rem Arial, sans-serif;
}